<img *ngIf="showImage"
     id="image"
     [src]="scene?.imageFile"
     alt="image"
/>

<video
  *ngIf="showVideo"
  #videoPlayer
  id="video"
  autoplay="autoplay"
  loop="true"
  muted="muted"
  [src]="videoFile"
>
  <source type="video/mp4"/>
</video>

<div class="run-game__background__container">

  <div class="flex-grow-1 m-l-200 m-r-200 m-b-50">
    <ng-container [ngSwitch]="scene?.typesScene">
      <ng-container *ngSwitchCase="'Answer'">
        <app-answer-scene-component
          [state$]="state$"
          [scene]="scene"
        ></app-answer-scene-component>
      </ng-container>

      <ng-container *ngSwitchCase="'Puzzle'">
        <app-puzzle-scene-component>
        </app-puzzle-scene-component>
      </ng-container>
    </ng-container>
  </div>


</div>
