<form [formGroup]="form" novalidate>

  <label>
    <p>Название:</p>
    <input name="title" formControlName="title"/>
    <div
         *ngIf="form.controls['title'].invalid">
      Введите значение
    </div>

    <p>Описание:</p>
    <input name="text" formControlName="text"/>
    <div
      *ngIf="form.controls['text'].invalid">
      Введите значение
    </div>
  </label>

  <div>
    <button (click)="onClickAddNewAnswer()">Добавить новый ответ</button>
  </div>

  <div cdkDropList class="answers-list" (cdkDropListDropped)="drop($event)">
    <div class="answer-box" *ngFor="let answer of answers" cdkDrag>
      <input name="answerId{{answer.id}}" formControlName="answerId{{answer.id}}" value="{{answer.text}}">
      <div
        *ngIf="form.controls['answerId' + answer.id].invalid">
        Введите значение
      </div>
      <button (click)="deleteAnswer(answer)">Удалить</button>
    </div>
  </div>

  <div>
    <button type="button" (click)="onNoClick()">
      Отмена
    </button>
    <button (click)="onClickSave()" *ngIf="form.valid">
      Сохранить
    </button>
  </div>

</form>

