<div>
  <div class="game-run__open-player">
    <div class="game-run__list-player">
      <div class="game-run__list-player-control">
        <div class="">Управление игроками для тестирования</div>
        <button
          class="font-size-11"
          (click)="isShowListPlayers = !isShowListPlayers"
        >
          <div *ngIf="isShowListPlayers; else unset">Скрыть</div>
          <ng-template #unset> Показать </ng-template>
        </button>
      </div>

      <div
        [style.visibility]="!isShowListPlayers ? 'hidden' : 'visible'"
        class="game-run__players">
        <app-player
          *ngFor="let player of players"
          [player]="player"
        ></app-player>
      </div>

    </div>
  </div>
</div>
