<div>
  <div class="game-run__open-player">
    <div class="game-run__list-player">

      <img class="list-player__img"
           src="assets/users.svg"
           (click)="isShowListPlayers = !isShowListPlayers">

      <div
        @listPlayer
        *ngIf="isShowListPlayers"
        class="game-run__players">

        <img class="game-run__btn_close"
             (click)="isShowListPlayers = !isShowListPlayers"
             src="assets/cross-black.svg"
             alt="">

        <div
          class="m-10 p-10 game-run__player"
          *ngFor="let player of players"
        >

          <div class="qrcodeImage">
            <qrcode
              [qrdata] = "player | linqQr : storeRunGameService.stateGameId"
              [allowEmptyString]="true"
              [cssClass]="'center'"
              [colorDark]="'#000000ff'"
              [colorLight]="'#ffffffff'"
              [elementType]="'url'"
              [errorCorrectionLevel]="'L'"
              [scale]="1"
              [width]="150"
            ></qrcode>
          </div>

          <div class="game-run__player__body" *ngIf="!isDevelopMode">
            <img class="game-run__player-img" *ngIf="player?.imageFile" [src]="player?.imageFile" alt="player"/>
            <div class="game-run__player__name">
              <div>{{player.name}}</div>
            </div>
          </div>

          <ng-container *ngIf="isDevelopMode">
            <app-player
              [player]="player"
            ></app-player>

            <button (click)="goToPlayer(player)">Перейти</button>
          </ng-container>

        </div>

      </div>

    </div>
  </div>
</div>
