<div class="dialog__body">
  <form [formGroup]="form" novalidate>
    <div class="input-box">
      <p>Название:</p>
      <input name="title" formControlName="title" />
      <div *ngIf="form.controls['title'].invalid">Введите значение</div>
    </div>

    <div class="input-box">
      <p>Описание:</p>
      <input name="text" formControlName="text" />
      <div *ngIf="form.controls['text'].invalid">Введите значение</div>
    </div>

    <hr class="m-t-25" />

    <div class="input-box">
      <p>Цвет обозначения:</p>
      <input type="color" name="color" formControlName="color" />
    </div>

    <hr class="m-t-25" />

    <div class="m-t-25">
      <label>
        <input
          name="isStartGame"
          formControlName="isStartGame"
          type="checkbox"
        />
        Сцена начала игры
      </label>
    </div>

    <hr class="m-t-25" />

    <div>
      Аудиофайл для сцены

      <div *ngIf="soundFileLink">
        <div>{{ soundFileLink.nameFile }}</div>
        <audio controls src="{{ soundFileLink.url }}">не поддерживается</audio>
      </div>

      <button (click)="selectSoundFileLink()">Выбрать</button>
      <button (click)="deletedSoundFileLink()">Убрать</button>
    </div>

    <hr class="m-t-25" />

    <div class="input-box">
      <div>
        <p>Кто должен отвечать/взаимодействовать:</p>
        <div *ngFor="let item of players">
          <label>
            <input
              type="checkbox"
              name="playerId{{ item.player.id }}"
              formControlName="playerId{{ item.player.id }}"
              [value]="item.isSelect"
            />
            {{ item.player.name }}
          </label>
        </div>
      </div>
    </div>

    <hr class="m-t-25" />
  </form>

  <ng-content></ng-content>

  <div class="m-t-25">
    <button type="button" (click)="onNoClick()">Отмена</button>
    <button (click)="onClickSave()" *ngIf="form.valid">Сохранить</button>
  </div>
</div>
