:root {
  --main: #2a2029;
  --white: white
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.header {
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main);
  box-shadow: 0 5px 10px 6px rgba(34, 60, 80, 0.2);
  color: var(--white);
}

.header__content {
  padding-left: 25px;
  padding-right: 50px;
}

.header__link {
  color: var(--white);
  text-decoration: none;
}

.header__logo {
  width: 80px;
}

.footer {
  background: var(--main);
  height: 52px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.footer__text {
  color: var(--white);
  font-size: 0.7em;
}

// Главный класс содержит в себе всю страничку
.main {
  display: flex;
  background: #e5e5e5;
  min-height: 100%;
}

.m-10 {
  margin: 10px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-16 {
  margin-top: 16px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

// Класс содержит в себе элементы html такие как header, body, footer
.container {
  background: var(--white);
  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.run-game__background__container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container-run-game {
  background: #2c2828;
  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// Класс содержащий в себе контент между header и footer
.body {
  flex-grow: 1;
  position: relative;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.m-10 {
  margin: 10px;
}

.m-l-200 {
  margin-left: 200px;
}
.m-r-200 {
  margin-right: 200px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.grid-100 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

.grid-130 {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
}
.grid-3-160 {
  display: grid;
  grid-template-columns: 160px 160px 160px;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-l-20 {
  margin-left: 20px;
}

.editor {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.box {
  margin: 10px 25px;
  padding: 25px;
  box-shadow: 1px 1px 19px 8px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.editor__brn-save {
  padding: 25px;
}

.editor__control-panel {
  display: flex;
  justify-content: center;
}

.editor__control-panel__btn-enlarge-canvas {
  position: absolute;
  height: 100%;
  background: #4e2165;
  display: flex;
  right: 0;
}

.editor__control-panel__btn-control {
  padding-top: 25px;
  width: 100%;
  text-align: center;
  display: flex;
}

.input-box {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.editor__btn-control-bottom {
  display: flex;
  justify-content: center;
}

.mat-button-base {
  margin: 8px 8px 8px 0;
}

.editor__control {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.editor__working-space {
  position: relative;
  display: block;
  justify-content: center;
}

.editor__working-space__canvas {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.editor__player-box {
  margin: 5px;
}

.editor__players__btn-add {
  text-align: center;
}

.edit-scene-dialog__image-box {
  width: 256px;
  height: 192px;
  position: relative;
}

.edit-scene-dialog__puzzle-image-box {
  width: 300px;
  height: 300px;
  position: relative;
}

.edit-scene-dialog__btn-del {
  position: absolute;
  right: 0;
}

.edit-scene-dialog__image-box__image {
  width: 256px;
  height: 192px;
}

.edit-scene-dialog__image-box__player-preview-image {
  width: 42px;
  height: 48px;
}

.edit-scene-dialog__image-box__scene-preview-image {
  width: 64px;
  height: 48px;
}

.edit-scene-dialog__image-box__puzzle-preview-image {
  width: 48px;
  height: 48px;
}

.edit-scene-dialog__image-box__scene-preview-video {
  width: 100px;
  height: 100px;
}

.scene {
  position: absolute;
}

.scene__header {
  width: 100%;
  height: 30px;
}

.scene__image-box__image {
  border-radius: 10px;
  width: 140px;
  height: 110px;
}

.scene__image-box__image-puzzle {
  border-radius: 10px;
  width: 110px;
  height: 110px;
}

.scene__header-select {
  border: dashed chartreuse;
}

.scene__variants {
  display: flex;
}

.scene__btn-answer {
  width: 100px;
}

.scene__box {
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.scene__box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.scene__box__bth-float {
  z-index: 1500;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.edit-player-dialog__box-image {
  position: relative;
  margin-top: 50px;
}

.edit-player-dialog__box-image__btn-delete-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.image {
  border-radius: 8px;
}

.editor__image-player {
  width: 80px;
  height: 110px;
  border-radius: 8px;
}

.edit-player-dialog__box-image__image {
  width: 200px;
  height: 275px;
  border-radius: 8px;
}

.editor__border {
  border: solid coral;
}

.editor__players__players-list {
  display: flex;
  justify-content: center;
}

// Предупреждение что у элемента нет связи
.scene__box__btn-warning {
  background: red;
}

.svg-line {
  background: maroon;
  position: absolute;
}

.edit-image-player__body {
  overflow: scroll;
  max-height: 500px;
}

.dialog__body {
  overflow: scroll;
  max-height: 500px;
  min-width: 800px;
  padding: 20px;
}

.font-size-11 {
  font-size: 11px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-white {
  color: var(--white);
}

.scene__control-height {
  height: 180px;
}

.scene__control-button {
  display: flex;
  justify-content: flex-end;
}

.game-run__description-background {
  position: absolute;
  height: 80px;
  background: #2c2828;
  padding: 15px;
  border-radius: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}

.game-run__description {
  height: 110px;
  position: relative;
}

.game-run__text-description {
  position: absolute;
  color: var(--white);
  bottom: 0;
  padding: 15px;
  height: 80px;
  z-index: 1000;
}

.game-run__open-player {
  position: absolute;
  top: 0;
  left: 0;
}

.game-run__list-player {
  border-radius: 8px;
  height: 10px;
}

.game-run__list-player-control {
  display: flex;
  align-items: center;
  height: 30px;
  background: #1b1a48;
  justify-content: space-between;
  color: var(--white);
  padding: 5px;
  border-radius: 8px;
  border: solid 1px black;
}

.game-run__answers__item {
  background: var(--white);
  border-radius: 10px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  opacity: 0.8;
  border: solid 1px;
  position: relative;
}

.drag-box {
  background: #4e2165;
  width: 240px;
  height: 200px;
  z-index: 1500;
}

.blur {
  filter: blur(4px);
}

.no-blur {
  filter: blur(0px);
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#image {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 100%;
}

.player-game {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  justify-content: center;
}

.player-img {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.player-test {
  position: relative;
  padding: 5px;
  border-radius: 10px;
}

.player-test__image {
  border-radius: 10px;
}

.game-run__players {
  background: #ffffff96;
  border-radius: 10px;
  display: flex;
  margin-left: 95px;
  margin-top: 20px;
  border: 1px solid;
}

.player-test__content {
  z-index: 200;
  width: 70%;
}

.player-test__name {
  background: var(--white);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px;
}

.player-test__btn-answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player-test__btn-answer {
  display: block;
  //width: 100%;
  height: 50px;
  //margin-bottom: 10px;
  margin: 10px;
  background: white;
}

.progress-bar {
  top: 0;
  left: 0;
  background-color: rgb(30, 144, 210);
  border-radius: 10px 0 0 10px;
  height: 100%;
  opacity: 0.8;
}

.position-absolute {
  position: absolute;
}

mat-grid-tile {
  background: lightblue;
}

.item-game__background-select {
  transition-duration: 0.3s;
  background: #fff0d9;
}

.item-game__background {
  transition-duration: 0.3s;
}

.text-bold {
  font-weight: bold;
}

.w-10 {
  width: 10%;
}

.edit-scene-dialog__image-box__panorama-image {
  width: 400px;
  height: 192px;
}

.edit-scene-dialog__image-box__puzzle-image {
  width: 192px;
  height: 192px;
}

.m-8 {
  margin: 8px;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.grid-puzzle {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.grid-item {
  width: 100px;
  height: 100px;
  background: #8340ff3b;
  border: 1px solid var(--white);
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.puzzle-scene__grid-puzzle {
  left: 0;
  top: 25%;
  right: 0
}

.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer
}

.text-orange {
  color: orange;
}
