$padding-body: 50px;

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Montserrat, sans-serif;
  height: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header {
  z-index: 1000;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2029;
  color: white;
}

.header--content {
  width: 1000px;
  padding-left: $padding-body;
  padding-right: $padding-body;
}

.footer {
  background: #20232a;
  height: 52px;
  flex-shrink: 0;
}

// Главный класс содержит в себе всю страничку
.main {
  display: flex;
  background: #E5E5E5;
  min-height: 100%;
}

// Класс содержит в себе элементы html такие как header, body, footer
.container {
  background: white;
  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// Класс содержащий в себе контент между header и footer
.body {
  padding-left: $padding-body;
  padding-right: $padding-body;
  flex-grow: 1;
}

.editor {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

.editor--control-panel {
  display: flex;
}

.editor--control {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.editor--working-space {
  position: relative;
  flex-grow: 1;
  height: 100%;
  border: solid coral;
}

.scene {
  position: absolute;
}

.scene--header {
  background: blueviolet;
  width: 100px;
  height: 30px;
}
