* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Montserrat, sans-serif;
  height: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header {
  z-index: 1000;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2029;
  color: white;
}

.header--content {
  width: 1000px;
  padding-left: 150px;
  padding-right: 150px;
}

.footer {
  background: #20232a;
  height: 52px;
  flex-shrink: 0;
}

// Главный класс содержит в себе всю страничку
.main {
  display: flex;
  background: #E5E5E5;
  min-height: 100%;
}

// Класс содержит в себе элементы html такие как header, body, footer
.container {
  background: white;
  display: flex;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

// Класс содержащий в себе контент между header и footer
.body {
  display: flex;
  flex-wrap: wrap;
}
