<div class="height-full">

  <div class="position-absolute flex justify-content-center puzzle-scene__grid-puzzle">
    <div class="grid-puzzle m-10">
      <div *ngFor="let parts of scenePartsPuzzleImages;">
        <div
          class="grid-item cursor-default">
          <div *ngFor="let item of parts;">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div>
    <app-description-scene [scene]="scene"></app-description-scene>
  </div>
</div>
