<div class="game-run">

  <img *ngIf="showImage"
    id="image"
    [src]="scene?.imageFile"
    alt="image"
  />

  <!--  место для плеера видео-->
  <ng-template appRef></ng-template>

  <div>
    <div class="game-run__answers">
      <app-item-answer
        *ngFor="let item of scene?.answers"
        [answer]="item"
      ></app-item-answer>

      <div class="game-run__description">
        <div class="game-run__description-background blur"></div>

        <div class="game-run__text-description">
          {{ scene?.title }} <br />
          {{ scene?.text }}
        </div>
      </div>
    </div>

  </div>
</div>
