<div class="game-run">
  <img *ngIf="!scene?.imageFile"
    id="image"
    [src]="scene?.imageFile"
    alt="image"
  />

  <ng-template appRef></ng-template>

<!--  <app-video #videoPlayer [src]="scene?.videoFile"></app-video>-->

<!--  <ng-container *ngIf="scene?.videoFile">-->
<!--    <video-->
<!--      id="video"-->
<!--      preload="auto"-->
<!--      autoplay="true"-->
<!--      loop="true"-->
<!--      muted="muted"-->
<!--      controls-->
<!--    >-->
<!--      <source [src]="scene?.videoFile" type="video/mp4" />-->
<!--    </video>-->
<!--  </ng-container>-->

  <div>
    <div class="game-run__answers">
      <app-item-answer
        *ngFor="let item of scene?.answers"
        [answer]="item"
      ></app-item-answer>

      <div class="game-run__description">
        <div class="game-run__description-background blur"></div>

        <div class="game-run__text-description">
          {{ scene?.title }} <br />
          {{ scene?.text }}
        </div>
      </div>
    </div>

  </div>
</div>
