<app-base-edit-scene-dialog
  [form]="form"
  [soundFileLink]="soundFileLink"
  [dialog]="dialog"
  [validData]="validData"
  [data]="data"
  (close)="onNoClick()"
  (save)="onClickSave()"
  [players]="selectPlayers"
>
  Редактирование головоломки

  <div class="m-t-25">
    <div>
      <button (click)="openSelectImageFileDialog()">Выбрать изображение</button>
      <button (click)="onClickDeletedImg()">Удалить</button>
    </div>
  </div>

  <div class="flex">
    <div
      class="edit-scene-dialog__puzzle-image-box"
      *ngIf="imgFile && imgFile !== ''"
    >
      <img
        class="edit-scene-dialog__puzzle-image-box"
        [src]="imgFile"
        [alt]="form.value.name"
      />
    </div>
  </div>

  <div class="grid-puzzle" *ngIf="imgFile && imgFile !== ''">
    <div *ngFor="let item of partsPuzzleImages">
      <div class="grid-item" draggable="true">
        <img class="width-full height-full" [src]="item.src" />
      </div>
    </div>
  </div>

  <div class="flex">
    <div *ngFor="let itemPlayer of selectPlayers">
      <div class="m-10 grid-puzzle" *ngIf="itemPlayer.isSelect">
        <div *ngFor="let item of partsPuzzleImages">
          <div class="grid-item" draggable="true">
            <!-- <img class="width-full height-full" [src]="item.src" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</app-base-edit-scene-dialog>
