<app-base-edit-scene-dialog
  [form]="form"
  [soundFileLink]="soundFileLink"
  [dialog]="dialog"
  [validData]="validData"
  [data]="data"
  (close)="onNoClick()"
  (save)="onClickSave()"
  [players]="selectPlayers"
  (changeSelectPlayers)="eventChangeSelectPlayers()">

  <!-- Фоновые изображение сцены -->
  <hr class="m-t-25"/>

  <div>
    <div class="edit-scene-dialog__image-box" *ngIf="imgFile && imgFile !== ''">
      <img
        class="edit-scene-dialog__image-box__image"
        [src]="imgFile"
        [alt]="form.value.name"
      />
    </div>

    <div>
      <button (click)="openSelectBackgroundImageFileDialog()">Выбрать изображение</button>
      <button (click)="onClickDeletedBackgroundImg()">Удалить</button>
    </div>
  </div>

  <hr class="m-t-25"/>

  <div class="">
    <div *ngFor="let video of videoSources">
      <video
        controls
        class="edit-scene-dialog__image-box__image"
        disabled="true"
        (click)="toggleVideo()"
      >
        <source [src]="video" type="video/mp4"/>
        Browser not supported
      </video>
    </div>

    <div>
      <button (click)="openSelectBackgroundVideoFileDialog()">Выбрать видео</button>
      <button (click)="onClickBackgroundDeletedVideo()">Убрать видео</button>
    </div>
  </div>

  <div class="m-t-25">
    <div>
      <button (click)="openSelectImageFileDialog()">Выбрать изображение</button>
      <button (click)="onClickDeletedImg()">Удалить</button>
    </div>
  </div>

  <div class="flex">
    <div
      class="edit-scene-dialog__puzzle-image-box m-10"
      *ngIf="imgPuzzleFile && imgPuzzleFile !== ''"
    >
      <img
        class="edit-scene-dialog__puzzle-image-box"
        [src]="imgPuzzleFile"
        [alt]="form.value.name"
      />
    </div>
  </div>

  <div class="editor__border">
    Изображение на сцене
    <button (click)="resetParts()">Сброс</button>

    <div class="grid-puzzle m-10">
      <div *ngFor="let parts of scenePartsPuzzleImages; let i = index">
        <div
          class="grid-item"
          (drop)="dragImg($event, i)"
          (dragover)="dragOver($event)"
          draggable="true">
          <div *ngFor="let item of parts; let iItem = index"
               (dragstart)="dragStarImg($event, i, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImg($event, i)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="flex">
    <div *ngFor="let sceneForEditPlayer of playerScenePartsPuzzleImages">
      {{ sceneForEditPlayer.name }}

      <div class="grid-puzzle m-10">

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace1)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace1.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace1; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace1, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace1)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace2)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace2.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace2; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace2, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace2)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace3)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace3.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace3; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace3, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace3)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace4)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace4.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace4; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace4, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace4)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace5)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace5.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace5; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace5, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace5)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace6)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace6.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace6; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace6, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace6)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace7)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace7.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace7; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace7, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace7)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace8)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace8.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace8; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace8, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace8)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>

        <div
          class="grid-item"
          draggable="true"
          (dragover)="dragOver($event)"
          (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace9)"
        >
          <div *ngIf="sceneForEditPlayer.imgPlace9.length > 1" class="text-red">Не более 1!!!</div>
          <div *ngFor="let item of sceneForEditPlayer.imgPlace9; let iItem = index"
               (dragstart)="dragStarImgPlayer($event, sceneForEditPlayer.imgPlace9, iItem)"
               (dragover)="dragOver($event)"
               (drop)="dragImgPlayer($event, sceneForEditPlayer.imgPlace9)">
            <div *ngIf="item?.src">
              <img class="width-full height-full" [src]="item?.src"/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</app-base-edit-scene-dialog>
