<div class="scene__box"
     cdkDrag
     cdkDragBoundary=".editor__working-space"
     [cdkDragFreeDragPosition]="dragPosition"
     (click)="onClickScene()"
     (cdkDragEnded)="onCdkDragDropped($event)">

  <div>
    <div class="scene__header"
         cdkDragHandle
         (click)="onClick($event)"
         [class.scene__header-select]="isSelectMode">
    </div>

    <div *ngIf="scene.imgFile && scene.imgFile !== ''">
      <img class="scene__image-box__image"
           [src]="scene.imgFile" [alt]="scene.title">
    </div>

    <div class="scene__variants">
      <button *ngFor="let answer of scene.answers"
              id="{{answer.id}}"
              #answer
              [class.scene__box__btn-warning]="!answer.sceneId"
              (click)="selectAnswer($event, answer)">{{toStringLabel(answer.text, 50)}}</button>
    </div>

    <div class="scene__control-width">{{toStringLabel(scene.title, 30)}}</div>
    <div class="scene__control-width">{{toStringLabel(scene.text, 30)}}</div>

    <div class="scene__control-width">Кто отвечает:</div>
    <div class="scene__control-width text-green" *ngFor="let player of scene.players">{{player.name}}</div>
    <div class="text-red scene__control-width" *ngIf="scene.players.length == 0">Нет выбранных персонажей</div>


    <div>
      <button (click)="onClickEdit()">Редактировать</button>
      <button (click)="onClickDelete()">Удалить</button>
    </div>
  </div>
</div>

