<div class="scene__box"
     cdkDrag
     cdkDragBoundary=".editor__working-space"
     [cdkDragFreeDragPosition]="dragPosition"
     (click)="onClickScene()"
     (cdkDragEnded)="onCdkDragDropped($event)">

  <div>
    <div class="scene__header"
         cdkDragHandle
         (click)="onClick($event)"
         [class.scene__header-select]="isSelectMode">
    </div>
    <div>{{scene.id}}</div>
    <div>{{scene.title}}</div>
    <div>{{scene.text}}</div>

    <div class="scene__variants">
      <button *ngFor="let answer of scene.answers"
              id="{{answer.id}}"
              #answer
              (click)="selectAnswer($event, answer)">{{answer.text}}</button>
    </div>

    <div>
      <button (click)="onClickEdit()">Редактировать</button>
    </div>
  </div>
</div>

