<img class="settings-run-game__settings__gear"
     src="../assets/gear.svg"
     (click)="isShow = !isShow"
     alt="">

<div *ngIf="isShow" class="settings-run-game__settings__controls">

  <img class="settings-run-game__settings__controls__btn_close"
       (click)="isShow = !isShow"
       src="../assets/cross-black.svg"
       alt="">

  <div class="cursor-pointer" (click)="changeSound()">
    <input type="checkbox" [checked]="soundOff">Выключить звуки
  </div>

  <div class="m-t-8">Громкость музыки {{volumeSound}}%</div>
  <div class="width-full flex">
    <button class="flex-grow-1" (click)="quiet()">-</button>
    <button class="flex-grow-1" (click)="louder()">+</button>
  </div>

</div>
