<ng-container *ngIf="isShowControls">

  <div cdkDropListGroup>
    <div class="puzzle-controls__puzzle-controls">
      <div
        *ngFor="let imgPlace of places"
        cdkDropList
        [cdkDropListData]="imgPlace"
        class="puzzle-controls__place-item"
        (cdkDropListDropped)="dropItemInContainer($event)">
        <div *ngFor="let item of imgPlace"
             cdkDrag
             [cdkDragDisabled]="!item.drag">
          <img *ngIf="item.value"
               class="puzzle-controls__image"
               [src]="item.value.value.src"
               alt="imagePuzzle"/>
        </div>
      </div>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="scenePartsPuzzleImagesForPlayer"
      class="puzzle-controls__puzzle-controls-template"
      (cdkDropListDropped)="dropItemsTemplate($event)">
      <div *ngFor="let item of scenePartsPuzzleImagesForPlayer" cdkDrag>
        <img *ngIf="item.value" class="puzzle-controls__image"
             [src]="item.value.value.src"
             alt="imagePuzzle"/>

      </div>
    </div>
  </div>
</ng-container>
