<ng-container *ngIf="isShowControls">

  <div cdkDropListGroup>
    <div class="puzzle-controls__puzzle-controls">
      <div
        *ngFor="let imgPlace of places; let i = index"
        cdkDropList
        [cdkDropListData]="imgPlace"
        class="puzzle-controls__place-item"
        (cdkDropListDropped)="dropItemInContainer($event, imgPlace, i + 1)">
        <div *ngFor="let item of imgPlace"
             cdkDrag
             [cdkDragDisabled]="!item.drag">
          <img *ngIf="item"
               class="puzzle-controls__image"
               [src]="item.value.src"
               alt="imagePuzzle"/>
        </div>
      </div>
    </div>

    <div class="puzzle-controls__puzzle-controls-template">
      <div
        *ngFor="let imgPlace of scenePartsPuzzleImagesForPlayer; let i = index"
        cdkDropList
        [cdkDropListData]="imgPlace"
        class="puzzle-controls__place-item"
        (cdkDropListDropped)="dropItemsTemplate($event, imgPlace, i + 1)">
        <div *ngFor="let item of imgPlace"
             cdkDrag>
          <img *ngIf="item?.value"
               class="puzzle-controls__image"
               [src]="item?.value?.src"
               alt="imagePuzzle"/>
        </div>
      </div>
    </div>

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="scenePartsPuzzleImagesForPlayer"-->
<!--      class="puzzle-controls__puzzle-controls-template"-->
<!--      (cdkDropListDropped)="dropItemsTemplate($event)">-->
<!--      <div *ngFor="let item of imgPlace"-->
<!--           cdkDrag>-->
<!--        <img *ngIf="item"-->
<!--             class="puzzle-controls__image"-->
<!--             [src]="item.value.src"-->
<!--             alt="imagePuzzle"/>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</ng-container>
