<div class="player-test__content">
  <div class="player-test__name">{{ player?.name }}</div>

  <div class="m-t-16" [ngSwitch]="currentScene?.typesScene">
    <ng-container *ngSwitchCase="'Answer'">
      <app-player-list-answers
        [player]="player"
        (selectAnswer)="selectAnswer($event)"
      ></app-player-list-answers>
    </ng-container>
    <ng-container *ngSwitchCase="'Panorama'">
      <app-panorama-controls
        [player]="player"
        (selectControls)="selectControls($event)"
        (selectAnswer)="selectAnswer($event)"
      >
      </app-panorama-controls>
    </ng-container>
    <ng-container *ngSwitchCase="'Puzzle'">
      <app-puzzle-controls
        [player]="player">
      </app-puzzle-controls>
    </ng-container>

  </div>
</div>

<img class="player-img" *ngIf="showImage && player?.imageFile" [src]="player?.imageFile" alt="player"/>

