<nav class="header header__content">

  <a routerLink="/">
    <img class="header__logo"
         src="assets/logo.jpg"
         alt="image">
  </a>

  <div>
    <a class="header__link"
       routerLink="/"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="text-bold text-orange"
    >
      Список игр
    </a>

    <a class="header__link m-l-20"
       routerLink="/login"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="text-bold text-orange"
    >
      Аккаунт
    </a>
  </div>
</nav>
