<div class="dialog__body">
  <div *ngIf="isShowImagesPlayer">
    <div>Изображения игроков</div>
    <div class="grid-100">
      <div class="flex" *ngFor="let item of imagesPlayer">
        <img
          class="edit-scene-dialog__image-box__player-preview-image"
          src="{{ item.url }}"
          alt=""
        />
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div *ngIf="isShowImagesScene">
    <div>Изображения сцен</div>
    <div class="grid-130">
      <div class="flex" *ngFor="let item of imagesScene">
        <img
          class="edit-scene-dialog__image-box__scene-preview-image"
          src="{{ item.url }}"
          alt=""
        />
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div *ngIf="isShowImagesPanoramas">
    <div>Изображения панорам</div>
    <div class="grid-130">
      <div class="flex" *ngFor="let item of imagesPanoramas">
        <img
          class="edit-scene-dialog__image-box__scene-preview-image"
          src="{{ item.url }}"
          alt=""
        />
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div *ngIf="isShowImagePuzzle">
    <div>Изображения головоломок</div>
    <div class="grid-130">
      <div class="flex" *ngFor="let item of imagePuzzle">
        <img
          class="edit-scene-dialog__image-box__puzzle-preview-image"
          src="{{ item.url }}"
          alt=""
        />
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div *ngIf="isShowVideosScene">
    <div>Видео для сцен</div>
    <div class="grid-3-160">
      <div class="flex" *ngFor="let item of videosScene">
        <video
          class="edit-scene-dialog__image-box__scene-preview-video"
          src="{{ item.url }}"
          controls
        >
          Видео не поддерживается
        </video>
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div *ngIf="isShowSounds">
    <div>Аудио для сцен</div>
    <div>
      <div *ngFor="let item of sounds">
        <br />
        <div>{{ item.nameFile }}</div>
        <audio controls src="{{ item.url }}">не поддерживается</audio>
        <button (click)="selectMediaFile(item)">Выбрать</button>
      </div>
    </div>
  </div>

  <div>
    <button type="button" (click)="onNoClick()">Закрыть</button>
  </div>
</div>
