<div class="editor">
  <div *ngIf="showForm" class="box">
    <form [formGroup]="form" novalidate>
      <!--Добавить валидацию-->
      <div class="input-box">
        <label for="name">Название игры</label>
        <input id="name" name="name" formControlName="name" />
        <div class="text-red" *ngIf="form.controls['name'].invalid">
          Введите значение
        </div>
      </div>
      <div class="input-box">
        <label for="description">Название игры</label>
        <textarea
          class=""
          id="description"
          name="description"
          rows="10"
          formControlName="description"
        ></textarea>
        <div class="text-red" *ngIf="form.controls['description'].invalid">
          Введите значение
        </div>
      </div>
      <div class="editor__control-panel__btn-control" *ngIf="form.valid">
        <div class="m-10">
          <button color="warn" mat-raised-button (click)="saveGame()">
            Сохранить игру
          </button>
        </div>
        <div class="m-10">
          <button
            class="m-10"
            mat-raised-button
            color="primary"
            (click)="runGame()"
          >
            Запустить игру
          </button>
        </div>
      </div>
      <div class="m-10">
        <button
          class="m-10"
          mat-raised-button
          color="accent"
          (click)="addMediaFile()"
        >
          Загрузить медиа файлы
        </button>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="editor__players__players-list">
      <!--Вынести в отдельный компонент-->
      <div class="editor__player-box box" *ngFor="let player of players">
        <div>{{ player.name }}</div>
        <div *ngIf="player.imageFile && player.imageFile !== ''">
          <img
            class="editor__image-player"
            [src]="player.imageFile"
            [alt]="player.name"
          />
        </div>
        <button (click)="onClickEditPlayer(player)">Редактировать</button>
        <button (click)="onClickDeletePlayer(player)">Удалить</button>
      </div>
    </div>

    <div class="editor__players__btn-add">
      <button
        mat-raised-button
        color="primary"
        *ngIf="players.length < 4"
        (click)="addNewPlayer()"
      >
        Добавить персонажа
      </button>
    </div>
  </div>

  <div #working class="editor__working-space">
    <div class="editor__control-panel">
      <div class="editor__control-panel__btn-control box">
        <button mat-raised-button color="primary" (click)="addNewScene()">
          Добавить сцену с выбором ответов
        </button>

        <button mat-raised-button color="primary" (click)="addPanorama()">
          Добавить сцену с панорамой
        </button>
      </div>
    </div>

    <!--Увеличить холст-->
    <!--<div class="editor__control-panel__btn-enlarge-canvas">
      <button (click)="enlargeCanvas()">&gt;</button>
    </div>-->

    <app-scene
      *ngFor="let scene of scenes"
      [changeSelectModeEvent$]="changeSelectModeEvent$"
      (editScene)="openEditDialog($event)"
      (changeDrag)="onChangeDrag()"
      [scene]="scene"
      [players]="players"
      (deleteScene)="deletedScene($event)"
      (selectAnswerScene)="selectAnswerScene($event)"
      (selectScene)="selectScene($event)"
      [startScene$]="startScene$"
    ></app-scene>

    <canvas
      #canvas
      [width]="widthScreen"
      height="880"
      class="editor__working-space__canvas editor__border"
      (click)="onClickWorkingSpace()"
    ></canvas>
  </div>

  <div class="editor__btn-control-bottom">
    <button mat-raised-button color="primary" (click)="increaseWorkingSpace()">
      Увеличить холст
    </button>
  </div>
</div>
