<div class="editor">

  <div #working class="editor__working-space">

    <div class="editor__control-panel">
      <div class="editor__control-panel__btn-control">
        <button mat-raised-button color="primary" (click)="addNewScene()">Добавить сцену</button>
      </div>
    </div>

    <app-scene *ngFor="let scene of scenes"
               [changeSelectModeEvent$]="changeSelectModeEvent$"
               (editScene)="openEditDialog($event)"
               (changeDrag)="onChangeDrag()"
               [scene]="scene"
               (selectAnswerScene)="selectAnswerScene($event)"
               (selectScene)="selectScene($event)"
    ></app-scene>

    <canvas #canvas
            width="1200"
            height="800"
            class="editor__working-space__canvas"
            (click)="onClickWorkingSpace()"></canvas>

  </div>

  <div class="editor__btn-control-bottom">
    <button mat-raised-button color="primary" (click)="increaseWorkingSpace()">Увеличить холст</button>
  </div>
</div>
