<div class="editor">
  <div class="editor__control-panel">
    <div class="editor__control"></div>
    <div class="editor__control"></div>
    <div class="editor__control"></div>
  </div>

  <div class="editor__working-space">

    <!--<app-svg-line
      class="svg-line"
      [pointOne]="scenes[0].coordinate"
      [pointTwo]="scenes[1].coordinate"
    ></app-svg-line>-->

    <app-scene *ngFor="let scene of scenes"
               [scene]="scene"
               (selectVariantScene)="selectVariant($event)"
    ></app-scene>

  </div>
</div>
