<form [formGroup]="form" novalidate>

  <h1>Персонаж:</h1>

  <label>
    <p>Имя:</p>
    <input name="name" formControlName="name"/>
    <div
      *ngIf="form.controls['name'].invalid">
      Введите значение
    </div>

    <p>Описание:</p>
    <input name="description" formControlName="description"/>
    <div
      *ngIf="form.controls['description'].invalid">
      Введите значение
    </div>
  </label>

  <div class="preview" *ngIf="imgFile">
    <img [src]="imgFile" style="width:100px; height:250px">
  </div>

  <div class="form-group">
    <label for="file">Изображение</label>
    <input type="file"
           class="form-control"
           id="file" formControlName="file"
           (change)="onImageChange($event)">
    <div
      *ngIf="this.form.controls.file.touched && this.form.controls.file.invalid"
      class="alert alert-danger">
      <div *ngIf="this.form.controls.file.errors.required">Файл не поддерживается</div>
    </div>
  </div>

  <div>
    <button type="button" (click)="onNoClick()">
      Отмена
    </button>
    <button (click)="onClickSave()" *ngIf="form.valid">
      Сохранить
    </button>
  </div>

</form>
