<form [formGroup]="form" novalidate style="{overflow: scroll;}">

  <h1>Персонаж:</h1>

  <label>
    <p>Имя:</p>
    <input name="name" formControlName="name"/>
    <div
      *ngIf="form.controls['name'].invalid">
      Введите значение
    </div>

    <p>Описание:</p>
    <input name="description" formControlName="description"/>
    <div
      *ngIf="form.controls['description'].invalid">
      Введите значение
    </div>
  </label>

  <!-- https://www.positronx.io/angular-8-show-image-preview-with-reactive-forms-tutorial/ -->
  <div>
    <!--<label for="file"></label>-->
    <input id="file"
           type="file"
           accept="image/*"
           (change)="showPreview($event)"/>
  </div>

  <div class="edit-player-dialog__box-image"
       *ngIf="imgFile && imgFile !== ''">

    <img class="edit-player-dialog__box-image__image"
         [src]="imgFile"
         [alt]="form.value.name">

    <button
      class="edit-player-dialog__box-image__btn-delete-img"
      type="button"
      (click)="onClickDeletedImg()">
      Удалить
    </button>

  </div>

  <div>Изображение должно быть примерно 2/3 чтобы хорошо отображаться на мобильном устройстве
  p.s потом доделаю редактор для редактирования изображения как у аватара в ВК</div>

  <div>
    <button type="button" (click)="onNoClick()">
      Отмена
    </button>
    <button (click)="onClickSave()" *ngIf="form.valid">
      Сохранить
    </button>
  </div>

</form>
