<form [formGroup]="form" novalidate class="dialog__body">
  <div class="input-box">
    <p>Название:</p>
    <input name="title" formControlName="title" />
    <div *ngIf="form.controls['title'].invalid">Введите значение</div>
  </div>

  <div class="input-box">
    <p>Описание:</p>
    <input name="text" formControlName="text" />
    <div *ngIf="form.controls['text'].invalid">Введите значение</div>
  </div>

  <hr class="m-t-25" />

  <div class="input-box">
    <p>Цвет обозначения:</p>
    <input type="color" name="color" formControlName="color" />
  </div>

  <hr class="m-t-25" />

  <div class="m-t-25">
    <label>
      <input name="isStartGame" formControlName="isStartGame" type="checkbox" />
      Сцена начала игры
    </label>
  </div>

  <hr class="m-t-25" />

  <div class="input-box">
    <div>
      <p>Кто должен отвечать:</p>
      <div *ngFor="let item of players">
        <label>
          <input
            type="checkbox"
            name="playerId{{ item.player.id }}"
            formControlName="playerId{{ item.player.id }}"
            [value]="item.isSelect"
          />
          {{ item.player.name }}
        </label>
      </div>
    </div>
  </div>

  <hr class="m-t-25" />

  <div class="input-box">
    <p>Ответы:</p>

    <div
      cdkDropList
      class="answers-list m-t-25"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="answer-box" *ngFor="let answer of answers" cdkDrag>
        <input
          name="answerId{{ answer.id }}"
          formControlName="answerId{{ answer.id }}"
          value="{{ answer.text }}"
        />
        <div *ngIf="form.controls['answerId' + answer.id].invalid">
          Введите значение
        </div>
        <button (click)="deleteAnswer(answer)">Удалить</button>
      </div>
    </div>

    <div *ngIf="this.answers.length < 4">
      <button (click)="onClickAddNewAnswer()">Добавить новый ответ</button>
    </div>
  </div>

  <hr class="m-t-25" />

  <div class="m-t-25">
    <div class="edit-scene-dialog__image-box" *ngIf="imgFile && imgFile !== ''">
      <img
        class="edit-scene-dialog__image-box__image"
        [src]="imgFile"
        [alt]="form.value.name"
      />
    </div>

    <div>
      <button (click)="openSelectImageFileDialog()">Выбрать изображение</button>
      <button (click)="onClickDeletedImg()">Удалить</button>
    </div>
  </div>

  <hr class="m-t-25" />

  <div class="">
    <div *ngFor="let video of videoSources">
      <video
        controls
        class="edit-scene-dialog__image-box__image"
        disabled="true"
        (click)="toggleVideo()"
      >
        <source [src]="video" type="video/mp4" />
        Browser not supported
      </video>
    </div>

    <div>
      <button (click)="openSelectVideoFileDialog()">Выбрать видео</button>
      <button (click)="onClickDeletedVideo()">Убрать видео</button>
    </div>
  </div>

  <div>
    <button type="button" (click)="onNoClick()">Отмена</button>
    <button (click)="onClickSave()" *ngIf="form.valid">Сохранить</button>
  </div>
</form>
