<div class="flex justify-content-center">

  <div *ngIf="isShowControls">
    <div>
      <button class="btm-control" (click)="topLeft()">
        <div class="arrow"></div>
      </button>
      <button class="btm-control" (click)="top()">
        <div class="arrow" style="transform: rotate(45deg)"></div>
      </button>
      <button class="btm-control" style="transform: rotate(90deg)" (click)="topRight()">
        <div class="arrow"></div>
      </button>
    </div>
    <div class="flex">
      <button class="btm-control" (click)="left()">
        <div class="arrow" style="transform: rotate(-45deg)"></div>
      </button>
      <button class="btm-control flex justify-content-center align-items-center" (click)="center()">
        <div class="btm-control-center"></div>
      </button>
      <button class="btm-control" (click)="right()">
        <div class="arrow" style="transform: rotate(135deg)"></div>
      </button>
    </div>
    <div>
      <button class="btm-control" (click)="bottomLeft()">
        <div class="arrow" style="transform: rotate(270deg)"></div>
      </button>
      <button class="btm-control" (click)="bottom()">
        <div class="arrow" style="transform: rotate(225deg)"></div>
      </button>
      <button class="btm-control" (click)="bottomRight()">
        <div class="arrow" style="transform: rotate(180deg)"></div>
      </button>
    </div>
  </div>

</div>

<app-player-list-answers
  [player]="player"
  (selectAnswer)="selectAnswer.emit($event)"
></app-player-list-answers>
