<div class="dialog__body">
  <div>Изображения игроков</div>
  <div class="grid-100">
    <div class="flex" *ngFor="let item of imagesPlayer">
      <img
        class="edit-scene-dialog__image-box__player-preview-image"
        src="{{ item.url }}"
        alt=""
      />
      <button (click)="deleteMediaFile(item.id)">Удалить</button>
    </div>
  </div>

  <div>Изображения сцен</div>
  <div class="grid-130">
    <div class="flex" *ngFor="let item of imagesScene">
      <img
        class="edit-scene-dialog__image-box__scene-preview-image"
        src="{{ item.url }}"
        alt=""
      />
      <button (click)="deleteMediaFile(item.id)">Удалить</button>
    </div>
  </div>

  <div>Видео для сцен</div>
  <div class="grid-3-160">
    <div class="flex" *ngFor="let item of videosScene">
      <video
        class="edit-scene-dialog__image-box__scene-preview-video"
        src="{{ item.url }}"
        controls
      >
        Видео не поддерживается
      </video>
      <button (click)="deleteMediaFile(item.id)">Удалить</button>
    </div>
  </div>

  <hr class="m-t-25" />

  <div>Загрузить изображение персонажей</div>
  <div
    class="edit-player-dialog__box-image"
    *ngIf="imgPlayerFile && imgPlayerFile !== ''"
  >
    <img class="edit-player-dialog__box-image__image" [src]="imgPlayerFile" />

    <button
      class="edit-player-dialog__box-image__btn-delete-img"
      type="button"
      (click)="onClickDeletedImgPlayer()"
    >
      Удалить
    </button>
  </div>

  <button (click)="openDialogEditImagePlayer()">Выбрать изображение</button>

  <hr class="m-t-25" />

  <div>Загрузить изображение сцены</div>
  <div class="m-t-25">
    <div
      class="edit-scene-dialog__image-box"
      *ngIf="imgSceneFile && imgSceneFile !== ''"
    >
      <img
        class="edit-scene-dialog__image-box__image"
        [src]="imgSceneFile"
        [alt]=""
      />

      <button
        class="edit-scene-dialog__btn-del"
        (click)="onClickDeletedSceneImg()"
      >
        Удалить
      </button>
    </div>

    <div>
      <button (click)="openImageSceneDialog()">Выбрать изображение</button>
    </div>
  </div>

  <hr class="m-t-25" />

  <div>Загрузить изображение панорамы</div>
  <div class="m-t-25">
    <div
      class="edit-scene-dialog__image-box"
      *ngIf="imgPanoramasFile && imgPanoramasFile !== ''"
    >
      <img
        class="edit-scene-dialog__image-box__panorama-image"
        [src]="imgPanoramasFile"
        [alt]=""
      />

      <button
        class="edit-scene-dialog__btn-del"
        (click)="onClickDeletedPanoramasImg()"
      >
        Удалить
      </button>
    </div>

    <div>
      <!-- <button (click)="openImagePanoramasDialog()">Выбрать изображение</button> -->
      <input
        type="file"
        value="Выбрать изображение"
        accept="image/*"
        (change)="openImagePanoramasDialog($event)"
      />
    </div>
  </div>

  <hr class="m-t-25" />

  <div>Загрузить видео для сцены</div>

  <div class="">
    <div *ngFor="let video of videoSources">
      <video
        controls
        class="edit-scene-dialog__image-box__image"
        disabled="true"
        (click)="toggleVideo()"
      >
        <source [src]="video" type="video/mp4" />
        Browser not supported
      </video>
    </div>

    <div>
      <input
        type="file"
        accept="video/mp4"
        (change)="openVideoDialog($event)"
      />
    </div>

    <hr class="m-t-25" />
    <button
      class="m-t-25"
      mat-raised-button
      color="primary"
      (click)="onLoadFile()"
    >
      Загрузить
    </button>
    <hr class="m-t-25" />

    <div>
      <button type="button" (click)="onNoClick()">Закрыть</button>
    </div>
  </div>
</div>
