<ng-container [ngSwitch]="selectScene?.typesScene">

  <ng-container *ngSwitchCase="'Panorama'">
    <app-panorama-scene-component
      [scene]="selectScene">
    </app-panorama-scene-component>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <app-background-scene
      [scene]="selectScene">
    </app-background-scene>
  </ng-container>

</ng-container>

<div class="settings-run-game__settings">
  <app-settings-run-game
    [runGame$]="runGame$"
    (selectedScene)="selectedScene($event)"
  >

  </app-settings-run-game>
</div>



