<div
  class="scene__box"
  cdkDrag
  cdkDragBoundary=".editor__working-space"
  [cdkDragFreeDragPosition]="dragPosition"
  (click)="onClickScene()"
  (cdkDragEnded)="onCdkDragDropped($event)"
>
  <div>
    <div
      class="scene__header"
      [ngStyle]="{ background: scene.color }"
      cdkDragHandle
      (click)="onClick($event)"
      [class.scene__header-select]="isSelectMode"
    >
      <div class="flex justify-content-space-around">
        <div *ngIf="scene.isStartGame" class="text-white font-size-11">
          Стартовая сцена
        </div>
      </div>
    </div>

    <div class="scene__control-button">
      <button class="font-size-11" (click)="onClickRunScene()">
        Запустить сцену
      </button>
      <button class="font-size-11" (click)="onClickEdit()">
        Редактировать
      </button>
      <button class="font-size-11" (click)="onClickDelete()">Удалить</button>
    </div>

    <div class="flex scene__control-height">
      <div *ngIf="scene.typesScene === 'Answer'">
        <ng-container *ngTemplateOutlet="sceneType; context: scene">
        </ng-container>
      </div>

      <ng-container [ngSwitch]="scene.typesScene">
        <ng-container *ngSwitchCase="'Answer'">
          <ng-container *ngTemplateOutlet="sceneAnswer; context: scene">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'Panorama'">
          <ng-container *ngTemplateOutlet="scenePanorama; context: scene">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'Puzzle'">
          <ng-container *ngTemplateOutlet="scenePuzzle; context: scene">
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="">
        <div class="scene__control-width font-size-11">Название:</div>
        <div class="scene__control-width font-size-11">
          {{ toStringLabel(scene.title, 25) }}
        </div>
        <div class="scene__control-width font-size-11">
          Тип: <span class="text-green">{{ typeScene.name }}</span>
        </div>
        <div class="scene__control-width font-size-11">Описание:</div>
        <div class="scene__control-width font-size-11">
          {{ toStringLabel(scene.text, 25) }}
        </div>

        <div class="scene__control-width font-size-11">Кто отвечает:</div>
        <div
          class="scene__control-width text-green font-size-11"
          *ngFor="let playerId of scene.players"
        >
          {{ getNamePlayer(playerId) }}
        </div>
        <div
          class="text-red scene__control-width font-size-11"
          *ngIf="scene.players.length == 0"
        >
          Нет выбранных персонажей
        </div>
      </div>
    </div>

    <div class="scene__variants">
      <div *ngFor="let answer of scene.answers" id="{{ answer.id }}" #answer>
        <button
          class="scene__btn-answer font-size-11"
          [class.scene__box__btn-warning]="!answer.sceneId"
          (click)="selectAnswer($event, answer)"
        >
          {{ toStringLabel(answer.text, 50) }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #notFoundVideo>
  <div class="text-red font-size-11">Нет видео</div>
</ng-template>

<ng-template #foundVideo>
  <div class="text-green font-size-11">Есть видео</div>
</ng-template>

<!-- Шаблон для сцены -->
<ng-template
  #sceneAnswer
  let-valueImageFile="imageFile"
  let-valueVideoFile="videoFile"
  let-valueTitleImage="title"
>
  <div *ngIf="valueImageFile && valueImageFile !== ''">
    <img
      class="scene__image-box__image"
      [src]="valueImageFile"
      [alt]="valueTitleImage"
    />

    <div *ngIf="valueVideoFile; then foundVideo; else notFoundVideo"></div>
  </div>
</ng-template>

<!-- Шаблон для панорамы -->
<ng-template
  #scenePanorama
  let-valueImageFile="imageFile"
  let-valueVideoFile="videoFile"
  let-valueTitleImage="title"
>
  <div *ngIf="valueImageFile && valueImageFile !== ''">
    <img
      class="scene__image-box__image"
      [src]="valueImageFile"
      [alt]="valueTitleImage"
    />
  </div>
</ng-template>

<!-- Шаблон для панорамы -->
<ng-template
  #scenePuzzle
  let-valueImageFile="imageFile"
  let-valueVideoFile="videoFile"
  let-valueTitleImage="title"
>
  шаблон для головоломки
</ng-template>
